# Виртуальное окружение
venv/
env/
*.pyc
__pycache__/

# Настройки IDE и редакторов
.vscode/
.idea/
*.swp

# Файлы конфигурации и переменные окружения
.env
*.env

# Логи и дампы базы данных
logs/
*.log
instance/
*.sqlite3
*.db

# Кеш и временные файлы Flask
*.pid
*.tar.gz
*.zip

# Секретные ключи и токены
config.py
settings.py

# Node.js зависимости (если есть фронтенд)
node_modules/
npm-debug.log

# Docker (если используешь)
docker-compose.override.yml

# MacOS & Windows
.DS_Store
Thumbs.db

migrations/