{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <h1 class="text-center" style="font-weight: 700; margin-bottom: 2rem;">{{ sub_title }}</h1>
    <div class="d-flex justify-content-center mt-4">
        <div class="col-md-4">
            <div class="edit-card shadow-sm p-4" style="border-radius: 10px; background-color: #1e1e1e;">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {{ render_form(form, button_map={'submit': 'btn-primary', 'style': 'background-color: #600018; border-color: #600018; padding: 0.75rem 1.5rem; font-weight: 600; border-radius: 8px;'}) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}