{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Оформление заказа</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Укажите детали доставки</h5>
                    {{ render_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}