{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-5">{{ sub_title }}</h1>

    {% if favourite_products %}
        <div class="product-grid">
            {% for favourite_product in favourite_products %}
                <div class="product-card-catalog">
                    <a href="{{ url_for('catalog.show_prod_details', prod_id=favourite_product.product.id) }}" class="product-card-link">
                        <div class="product-image-container">
                            <img src="{{ favourite_product.product.get_first_photo() }}" alt="{{ favourite_product.product.name }}" class="product-image-catalog">
                        </div>
                        <div class="product-content-catalog">
                            <h4 class="product-title-catalog">{{ favourite_product.product.name }}</h4>
                            <p class="product-price-catalog">{{ "{:,.0f}".format(favourite_product.product.get_discount_price()).replace(",", " ") }} ₸</p>
                        </div>
                    </a>
                    
                    <div class="product-actions-catalog">
                        <div class="favourite-actions">
                            <a href="{{ url_for('favourites.add_favourite_product_to_cart', product_id=favourite_product.product.id ) }}" class="btn btn-success w-100">
                                <i class="bi bi-cart-plus-fill"></i>
                            </a>
                            <a href="{{ url_for('favourites.delete_product_from_favourites', product_id=favourite_product.product.id) }}" class="btn btn-danger w-100">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center py-5">
            <p class="h4 text-muted">В избранном пока нет товаров.</p>
            <a href="{{ url_for('catalog.catalog') }}" class="btn btn-primary mt-3">Перейти в каталог</a>
        </div>
    {% endif %}

</div>
{% endblock %}