{% extends 'admin/base.html' %}

{% block content %}

<h1 style="text-align: center;">Все продукты</h1>
{% for product in products %}


    <img class="product-img" src="{{ product.get_first_photo() }}">

    <p>
        {{ product.name }}
        
        <a href="{{ url_for('admin_product', id=product.id) }}">
            <i class="bi bi-pencil-square"></i>
        </a>
        
        <a href="{{ url_for('admin_delete_products', id=product.id) }}">
            <i class="bi bi-x-circle"></i>
        </a>
    </p>
    <hr>
{% else %}
    Товаров нет
{% endfor %}

<a class="btn btn-primary" href="{{url_for('main')}}">Главная страница</a>

{% endblock %}