{% extends 'base.html' %}

{% block content %}

<h1>{{sub_title}}</h1>
    
{% if products %}
    {% for product in products %}
        <div>
            <h3>{{product.name}}</h3>
            <p>Цена: {{product.price}}₸</p>
            {% if product.photos.first() %}
                <img width="250" src="{{ url_for('static', filename='products_photo/' ~ product.category ~ '/' ~ product.id ~ '/' ~ product.photos.first().photo_path ) }}" alt="{{ product.photos.first().description }}">
            {% else %}
                <p>Фото нет</p>
            {% endif %}
            {% if product.discount %}
                <p>Скидка: {{product.discount}}</p>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
        <p>Нет товаров в этой категории</p>
{% endif %}


{% endblock %}