{% extends 'base.html' %}

{% block content %}

<h2 style="text-align: center;" class="mt-3">{{sub_title}}</h2>
    
{% if products %}
    {% for product in products %}
        <div style="display: inline-block; width: 280px; margin: 20px; vertical-align: top; text-align: left; position: relative;">
            
            <h4>{{product.name}}</h4>

            {% if product.discount %}
             <span style="margin-top: 10px; margin-left: -5px;" class="position-absolute top-200 start-50 translate-middle badge rounded-pill bg-danger">
                -{{product.discount}}%
            </span>
            {% endif %}

            
            <p>Цена: {{product.get_discount_price()}}₸</p>

            <img class="product-img" src="{{ product.get_first_photo() }}">

        
            <div class="d-flex justify-content-center gap-2 mt-2 "  style="margin-left: -30px;">
                <a style="width: 50px; height: 40px;" class="btn btn-success" href="{{url_for('add_products', product_id=product.id)}}">
                    <i class="bi bi-cart-plus-fill"></i>
                </a>
                <a style="width: 50px; height: 40px;" class="btn btn-danger" href="{{url_for('add_to_favourites', product_id=product.id)}}">
                    <i class="bi bi-heart-fill"></i>
                </a>
                <a style="width: 50px; height: 40px;" class="btn btn-primary" href="{{url_for('show_prod_details', prod_id=product.id)}}">
                    <i class="bi bi-info-circle-fill"></i>
                </a>
            </div>            
            
            
        </div>
    {% endfor %}

        <div class="text-center mt-3">
            <a class="btn btn-primary" href="{{ url_for('pc_help') }}">
                Помощь в выборе комплектующих
            </a>
        </div>
    
{% else %}
        <p>Нет товаров в этой категории</p>
{% endif %}


{% endblock %}