{% extends 'base.html' %}

{% block content %}

<h2>{{sub_title}}</h2>
    
{% if products %}
    {% for product in products %}
        <div style="display: inline-block; width: 280px; margin: 20px; vertical-align: top; text-align: left;">
            <h4>{{product.name}}</h4>
            <p>Цена: {{product.price}}₸</p>

            <!-- {% if product.photos.first() %}
                <img width="300" src="{{ product.photos.first().get_photo() }}" alt="{{ product.photos.first().description }}" style='margin-bottom: 10px;'>
            {% else %}
                <p>Фото нет</p>
            {% endif %} -->

            <img width="300px" src="{{ product.get_first_photo() }}">

            <a style="width: 50px; height: 40px;" class="btn btn-success" href="{{url_for('add_products', product_id=product.id)}}"><i class="bi bi-cart-plus-fill"></i></a>
            <a style="width: 50px; height: 40px;" class="btn btn-danger" href="{{url_for('favourites')}}"><i class="bi bi-heart-fill"></i></a>
            <a style="width: 50px; height: 40px;" class="btn btn-primary" href="{{url_for('favourites')}}"><i class="bi bi-info-circle-fill"></i></a>
            
            
            {% if product.discount %}
                <p>Скидка: {{product.discount}}</p>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
        <p>Нет товаров в этой категории</p>
{% endif %}


{% endblock %}