{% extends 'base.html' %}


{% block content %}

    <h1>{{sub_title}}</h1>
    
    {% if current_user.cart.products_in_cart.count() == 0 %}
        <p><i class="bi bi-cart-x"></i> В корзине нет товаров</p>
        <a class="btn btn-primary" href="{{url_for('catalog')}}">Перейти в каталог</a>
    {% else %}
    <div class="row">
            <div class="col-md-4 offset-md-1">
                <p>Название</p>
            </div>
            <div class="col-md-1">
                <p>Количество</p>
            </div>
            <div class="col-md-1">
                <p>Цена</p>
            </div>
        </div>

    

        {% for product_in_cart in current_user.cart.products_in_cart %}
            {% if product_in_cart.amount > 0 %}
            <div class="row align-items-center mb-3">
                <div class="col-md-1">
                <img style="width: 100px;" src="{{ product_in_cart.product.get_first_photo() }}" > 
                </div>
                <div class="col-md-4">
                    <a href="{{ url_for('show_prod_details', prod_id=product_in_cart.product.id) }}">{{product_in_cart.product.name}}</a>
                </div>
                <div class="col-md-1">
                    <p>{{product_in_cart.amount}} </p>
                </div>
                <div class="col-md-1">
                    {{product_in_cart.product.price}}₸
                </div>
                <div class="col-md-1 d-flex justify-content-center">
                    <a class="btn btn-success" style="width: 50px; height: 40px;" href="{{ url_for('increase_amount', product_id=product_in_cart.id) }}"> <i class="bi bi-plus-square-fill"></i></a>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-warning" style="width: 50px; height: 40px;" href="{{ url_for('decrease_amount', product_id=product_in_cart.id) }}"><i class="bi bi-dash-square-fill"></i></a>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-danger" style="width: 50px; height: 40px;" href="{{ url_for('delete_products', product_id=product_in_cart.id) }}"> <i class="bi bi-trash3-fill"></i></a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="row">
        <div class="col-md-2 offset-4 fw-bold">
            <p class="text-end" >Всего к оплате</p>
        </div>
    <div class="col-md-1 fw-bold">
        {{current_user.cart.sum_of_products_in_cart()}}₸
    </div>
        <div class="col-md-4">
            <a class="btn btn-success btn-lg" href="{{ url_for('make_order') }}">Оформить заказ</a>
        </div>
    </div>
    {% endif %}

{% endblock %}

