{% extends 'base.html' %}

{% block content %}
<div class="accordion" id="accordionExample" style="margin-top: 20px;">

  <!-- Видеокарта -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <strong>Как выбрать видеокарту (GPU)?</strong>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Видеокарта</strong> — это компонент компьютера, отвечающий за обработку и вывод изображения на экран. Она рендерит графику в играх, обрабатывает видео, помогает при работе с 3D, графическим дизайном и ускоряет вычисления в некоторых программах (например, в монтаже или при работе с ИИ).
          Есть два типа видеокарт: <br>
          <strong>1. Встроенная (интегрированная)</strong> — находится в процессоре, подходит для базовых задач: браузер, видео, офис. <br>
          <strong>2. Дискретная (отдельная)</strong> — мощный отдельный компонент, нужен для игр, графики, монтажа, моделирования и т. д.
          <hr>
          <strong>Как правильно подобрать виодеокарту(GPU)?</strong> <br>
          <strong>1. Определите, для чего она нужна.</strong> <br>
          Если только интернет, фильмы и офис — мощная видеокарта не нужна. Для игр, монтажа видео, 3D-графики или работы с нейросетями нужна дискретная (отдельная) видеокарта. <br><br>
          <strong>2. Учитывайте разрешение и частоту экрана.</strong> <br>
          Чем выше разрешение (Full HD, 2K, 4K) и герцовка монитора, тем мощнее должна быть видеокарта, чтобы выдавала плавную картинку без лагов. <br><br>
          <strong>3. Смотрите на объем видеопамяти (VRAM).</strong> <br>
          Для Full HD игр достаточно 6–8 ГБ. Для 2K/4K, тяжелых проектов в Blender, Premiere, нейросетей — лучше от 12 ГБ и выше. <br><br>
          <strong>4. Проверьте совместимость с компьютером.</strong> <br>
          Важно, чтобы блок питания тянул карту по мощности, а корпус был подходящего размера (особенно по длине и охлаждению). <br><br>
          <strong>5. Изучите реальные тесты и обзоры.</strong> <br>
          Не ориентируйтесь только на цифры — смотрите FPS в нужных играх и задачах. <br><br>
          
          <a class="btn btn-primary " style="margin-top: 10px;" href="{{ url_for('graphics_card') }}">Выбрать видеокартку</a>
        
      </div>
    </div>
  </div>

  <!-- Процессор -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <strong>Как выбрать процессор (CPU)?</strong>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Процессор (CPU)</strong> — это главный вычислительный элемент компьютера, который выполняет все основные задачи и команды. Его можно представить как "мозг" системы: он обрабатывает данные, запускает программы и управляет другими компонентами.
          Чем мощнее процессор — тем быстрее работает система, особенно в многозадачности, играх, монтаже и других ресурсоемких задачах. Основные характеристики процессора — это количество ядер, потоков, частота (измеряется в ГГц) и архитектура.
          Процессор устанавливается в сокет на материнской плате и работает в связке с оперативной памятью, видеокартой и другими компонентами.
          <hr>
          <strong>Как правильно подобрать процессор(СPU)?</strong> <br>
          <strong>1. Определите, для чего нужен компьютер. </strong> <br>
          Для интернета, учёбы и видео — подойдут базовые модели вроде Intel i3 или AMD Ryzen 3. <br> Для игр, повседневной работы, программирования — Intel i5 или Ryzen 5. <br>
          Для стримов, рендеринга, 3D-графики и монтажа — лучше Intel i7/i9 или Ryzen 7/9. <br><br>
          <strong>2. Смотри на количество ядер и потоков.<br> </strong>
          Больше ядер и потоков = выше производительность в многозадачности и сложных задачах.
          4 ядра — базовый уровень. 6–8 ядер — оптимум для игр и работы.<br>
          12 и больше — для профессиональных задач. <br><br>
          <strong>3. Учитывайте частоту (ГГц) </strong>
          Более высокая частота даёт лучшую производительность в играх и лёгких задачах, особенно на 1–2 ядра. <br><br>
          <strong>4. Проверь совместимость с материнской платой.</strong> <br>
          Процессор должен подходить под сокет материнской платы (например, AM4, AM5, LGA1700). <br><br>

          <a class="btn btn-primary " style="margin-top: 10px;" href="{{ url_for('processor') }}">Выбрать процессор</a>
    
      </div>
    </div>
  </div>

  <!-- Материнская плата -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <strong>Как выбрать материнскую плату?</strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Материнская плата</strong> -  это основная плата в компьютере или другом устройстве, на которой устанавливаются все основные компоненты системы. Она связывает между собой процессор, память, устройства хранения данных, видеокарту и другие периферийные устройства. <br>
            <hr>
          <strong>Как правильно подобрать материнскую плату?</strong> <br>
            <strong>1. Тип сокета (Socket)</strong> <br>
            Убедитесь, что материнская плата поддерживает процессор, который вы планируете использовать. Например, для процессоров Intel сокет может быть LGA 1200, LGA 1700, а для AMD — AM4. <br><br>
            <strong>2. Форм-фактор</strong> <br>
            ATX — стандартный размер, подходит для большинства пользователей и сборок. <br>
            Micro ATX — немного меньший размер, может подойти для компактных систем. <br>
            Mini ITX — самый маленький размер, идеально для компактных ПК, но имеет меньше слотов и портов. <br><br>
            <strong>3. Чипсет </strong> <br>
            Чипсет определяет функции и возможности платы, такие как поддержка разгона, количество PCIe слотов, возможность подключения определённых интерфейсов (например, USB 3.2, M.2 и т. д.). Например, чипсеты Intel серии Z (например, Z690) поддерживают разгон, а B и H чипсеты не поддерживают. <br><br>
            <strong>4. Система охлаждения</strong> <br>
            Материнская плата должна поддерживать достаточное количество разъемов для подключения вентиляторов, а также иметь хорошие решения для охлаждения VRM (если вы планируете разгон). <br><br>
            <strong>5. Разъемы и порты</strong> <br>
            Проверьте количество и типы разъемов для USB, SATA, M.2, а также наличие Wi-Fi или Bluetooth (если это важно). Если вам нужно много устройств, выбирайте материнскую плату с множеством портов. <br><br>
            <a class="btn btn-primary " style="margin-top: 10px;" href="{{ url_for('motherboard') }}">Выбрать материнскую плату</a>
        
      </div>
    </div>
  </div>

  <!-- Блок питания -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <strong>Как выбрать блок питания?</strong>
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Блок питания</strong> — это устройство, которое преобразует переменный ток (AC) из розетки в постоянный ток (DC), который нужен для работы компонентов ПК. Он также стабилизирует напряжение. <br><hr>
        <strong>Как правильно подобрать блок питания?</strong><br>
        <strong>1. Мощность (Вт)</strong><br>
        Для обычных ПК 450–650 Вт достаточно. Для мощных сборок с RTX 3080/4090 — от 750 Вт и выше.<br><br>
        <strong>2. КПД (эффективность)</strong><br>
        Ищи сертификаты 80 PLUS, лучше — Bronze, Gold и выше. Чем выше, тем меньше потерь энергии.<br><br>
        <strong>3. Разъемы</strong><br>
        Должны быть 24-pin (мать), 8-pin CPU, 6+2-pin GPU, SATA для SSD/HDD.<br><br>
        <strong>4. Защита</strong><br>
        Ищи блоки с защитой от короткого замыкания, перегрузки, перегрева и т.д.
        <br><br>
        <a class="btn btn-primary mt-2" href="{{ url_for('motherboard') }}">Выбрать блок питания</a>
      </div>
    </div>
  </div>


  <!-- Оперативная память -->
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFive">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      <strong>Как выбрать оперативную память (ОЗУ)?</strong>
    </button>
  </h2>
  <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>Оперативная память (ОЗУ)</strong> — это временное хранилище данных, которые используются в данный момент. Чем больше и быстрее оперативная память, тем выше скорость отклика системы и меньше лагов при многозадачности, в играх и программах.<br><hr>

      <strong>Как правильно выбрать ОЗУ?</strong><br>
      <strong>1. Объем оперативной памяти</strong><br>
      - 8 ГБ — минимум для современных задач (офис, браузер).<br>
      - 16 ГБ — оптимум для игр, программирования и многозадачности.<br>
      - 32 ГБ и выше — для монтажа видео, 3D-графики, работы с ИИ и профессиональных задач.<br><br>

      <strong>2. Тип и стандарт (DDR4, DDR5)</strong><br>
      Убедись, что материнская плата поддерживает нужный стандарт.<br>
      DDR4 — всё ещё актуален и дешевле. DDR5 — новый стандарт, быстрее, но дороже.<br><br>

      <strong>3. Частота (MHz)</strong><br>
      Более высокая частота = выше скорость работы.<br>
      - DDR4: от 2666 до 3600 МГц — стандартная и высокая производительность.<br>
      - DDR5: от 4800 до 6000+ МГц — быстрее, но проверь поддержку материнской платой.<br><br>

      <strong>4. Тайминги и латентность (CL)</strong><br>
      Меньшее значение CL = быстрее доступ к данным. Особенно важно для сборок, где важна каждая миллисекунда (геймерские, рабочие станции).<br><br>

      <strong>5. Количество планок (канальность)</strong><br>
      Лучше использовать 2 или 4 планки в двухканальном режиме (например, 2×8 ГБ, а не 1×16 ГБ) — это увеличивает пропускную способность.<br><br>

      <a class="btn btn-primary " style="margin-top: 10px;" href="{{ url_for('random_access_memory') }}">Выбрать ОЗУ</a>
    </div>
  </div>
</div>

<!-- Кулеры и системы охлаждения -->
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSix">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
      <strong>Как выбрать кулеры и системы охлаждения?</strong>
    </button>
  </h2>
  <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>Кулеры и системы охлаждения </strong> — это устройства, которые отводят тепло от компонентов компьютера (в первую очередь от процессора и видеокарты), чтобы они не перегревались и работали стабильно и долго.<br><hr>

      <strong>Как правильно выбрать кулеры и системы охлаждения?</strong><br>
      <strong>1. Учитывайте мощность и тепловыделение (TDP) процессора</strong><br>
      Чем выше TDP, тем мощнее нужен кулер.<br>
      Например, для Ryzen 5 или i5 можно взять средний воздушный кулер.<br>
      А для Ryzen 9 или i9 — лучше башенный кулер или СВО.<br><br>

      <strong>2. Проверьте совместимость с сокетом и корпусом</strong><br>
      У кулеров есть поддержка определённых сокетов (AM4, AM5, LGA1700 и др.) — это важно.<br>
      Высота кулера должна влезать в корпус, а радиатор СВО — уместиться по длине.<br><br>

      <strong>3. Обратите внимание на уровень шума</strong><br>
      Качественные кулеры работают тише. У хороших моделей указывается уровень шума в дБ (децибелах).<br><br>

      <strong>4. Надёжность бренда</strong><br>
      Популярные производители: be quiet!, Noctua, DeepCool, Arctic, Cooler Master, NZXT, Lian Li, Thermalright, ID-Cooling и др.<br><br>

      <strong>5. RGB-подсветка — по желанию</strong><br>
      На производительность не влияет, но важно для внешнего вида сборки.<br><br>

      <a class="btn btn-primary " style="margin-top: 10px;" href="{{ url_for('cooling_system') }}">Выбрать кулер и систему охлаждения</a>
    </div>
  </div>
</div>


<!-- Жесткие диски и твердотельные накопители -->
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSeven">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      <strong>Как выбрать жесткие диски и твердотелые накопители?</strong>
    </button>
  </h2>
  <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>Жёсткие диски (HDD) и твердотелые накопители (SSD)  </strong> — это два типа устройств хранения данных, которые различаются по своей конструкции, скорости и другим характеристикам.<br><hr>

      <strong>Как правильно выбрать кулеры и системы охлаждения?</strong><br>
      <strong>1. Цель использования</strong><br>
      Для хранения данных: Если вам нужно много места для хранения фильмов, музыки, резервных копий и других больших файлов, можно выбрать HDD за счёт более доступной цены за гигабайт.<br>
      Для ОС и программ: Для более быстрой загрузки операционной системы и приложений лучше выбрать SSD, так как они обеспечивают гораздо быстрее загрузку и работу системы.<br><br>

      <strong>2. Скорость</strong><br>
      Если вам важна высокая производительность, например, при играх, редактировании видео или работе с большими файлами, SSD — лучший выбор, особенно NVMe SSD.<br><br>

      <strong>3. Ёмкость</strong><br>
      Если вам нужно больше места за меньшую цену и скорость не является решающим фактором, то выберите HDD (например, для архивирования).<br><br>

      <strong>4. Надёжность</strong><br>
      SSD более надёжны из-за отсутствия движущихся частей, что снижает риск механических поломок.<br><br>

      <a class="btn btn-primary " style="margin-top: 10px;" href="{{ url_for('storage') }}">Выбрать жесткий диск и твердотелый накопитель</a>
    </div>
  </div>
</div>




<div class="accordion-item">
  <h2 class="accordion-header" id="headingEight">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
      <strong>Как выбрать корпус?</strong>
    </button>
  </h2>
  <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong> Корпус </strong> — это физическая оболочка, в которой размещаются все компоненты компьютера, такие как материнская плата, процессор, оперативная память, жёсткие диски или SSD, видеокарта и другие устройства. Корпус выполняет несколько важных функций, таких как защита компонентов от внешних воздействий, обеспечение охлаждения, а также предоставляет удобство для установки и подключения различных частей.<br><hr>

      <strong>Как правильно выбрать корпус?</strong><br>
      <strong>1. Форм-фактор (размер)</strong><br>
      ATX: Стандартный размер, подходит для большинства сборок. Вмещает материнские платы формата ATX, mATX и Mini-ITX.<br>
      mATX (Micro ATX): Немного меньше по размеру, чем ATX, и подходит для компактных сборок. Он подходит для небольших материнских плат, но имеет ограниченное количество слотов и разъёмов.<br>
      Mini-ITX: Ещё более компактный размер, идеален для мини-ПК, где важен малый размер и эффективность пространства. <br>
      E-ATX и XL-ATX: Большие корпуса для мощных систем с материнскими платами большого размера, подходящие для серверов или высокопроизводительных ПК. <br><br>

      <strong>2. Система охлаждения</strong><br>
      Охлаждение важно для нормальной работы компонентов, особенно процессора и видеокарты. Корпус должен обеспечивать хорошую циркуляцию воздуха.<br>
      Обратите внимание на количество и расположение вентиляторов. Большинство корпусов поддерживает установку 1-2 вентиляторов, а более крупные могут поддерживать до 6-7 вентиляторов. <br>
      Некоторые корпуса имеют место для установки водяного охлаждения (например, для процессора или видеокарты), если вы планируете разгон или хотите минимизировать шум. <br><br>

      <strong>3. Панели и порты</strong><br>
      Передняя панель: Обычно включает USB-порты, аудиоразъёмы и кнопки включения/выключения. Убедитесь, что на передней панели есть нужные вам порты (например, USB-C, USB 3.0).<br>
      Боковые панели: Некоторые корпуса имеют стеклянные боковые панели, которые позволяют демонстрировать внутренности вашего ПК. Такие корпуса могут выглядеть эстетично, особенно если компоненты подсвечиваются. <br>
      Места для дополнительных устройств: Проверьте, есть ли места для установки дополнительных устройств, таких как оптические приводы, карты расширения, дополнительные жёсткие диски и SSD. <br><br>

      <strong>4. Управление кабелями</strong><br>
      Хороший корпус должен обеспечивать удобное управление кабелями. Это поможет вам не только создать аккуратный вид внутри, но и улучшить циркуляцию воздуха.<br>
      Ищите корпуса с возможностью скрытия проводов за панелями или с наличием специальных отверстий и держателей для кабелей. <br><br>

      <strong>5. Поддержка видеокарт и других компонентов </strong>
      Убедитесь, что корпус поддерживает видеокарту вашего размера (длинные видеокарты требуют больших корпусов). <br>
      Проверьте максимальную длину видеокарты, высоту кулеров и поддерживаемую толщину карт. <br><br>
      
      <a class="btn btn-primary " style="margin-top: 10px;" href="{{ url_for('computer_case') }}">Выбрать корпус</a>
    </div>
  </div>
</div>

</div>


 
    
  
{% endblock %}
